<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://duet-cdn.vox-cdn.com/thumbor/0x0:1485x1004/640x427/filters:focal(743x502:744x503):format(webp)/cdn.vox-cdn.com/uploads/chorus_asset/file/25574399/Still015.jpg"
      cardTitle="Fortnite is streamlining its many battle passes"
      cardDescription="Epic Games is changing how its battle passes work so that you can progress in Lego Fortnite and Fortnite Festival with XP"
    >
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Actors union SAG-AFTRA signs an agreement with AI voice company Ethovox"
      photoCover="https://pbs.twimg.com/media/GbD5K5yXIAANKLX?format=jpg&name=large"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Indiana Jones and the Great Circle: The Final Preview"
      photoCover="https://i.ytimg.com/vi/Pf7PLN13j7Y/maxresdefault.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="4"
      cardTitle="Oregon Trail is the next game getting a blockbuster movie adaptation"
      photoCover="https://assetsio.gnwcdn.com/th-2403231306?width=690&quality=75&format=jpg&auto=webp"
    >
    </app-small-card>
  </div>
</div>
